<% if admin %>
    <p>
      <strong>User:</strong>
      <%= @order.user.username %>
    </p>
<% end %>
<% if @order.paid %>
    <span class="label label-sm label-success">Paid</span>
<% end %>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Products</th>
    <th>Quantity</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |p| %>
      <tr>
        <td><%= link_to p.product.name, p.product %></td>
        <td> <%= p.quantity %> </td>
        <% unless @order.paid %>
            <td><%= link_to 'Remove', remove_product_path(p.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table><br>
<% if @products.empty? %>
    <p> cart is empty </p>
<% else %>
    <!--todo redirect to login if not logged-->
    <% unless @order.paid %>
        <%= link_to 'Pay and place an order', pay_path(@order.id), method: :post, class: 'btn btn-success' %>
    <% end %>
<% end %>
<br>
<% if !@products.empty? and !@order.paid and current_cart != @order %>
    <%= link_to 'Change current cart to this order', change_cart_path(@order.id), method: :post, class: 'btn btn-primary' %>
<% end %>
<br>
<%= link_to 'Orders', orders_path, class: 'btn btn-info' %>

