<h2>Products</h2>

<table class="table">
  <thead>
  <tr>
    <th> Name</th>
    <th> Price</th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= product.price %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @products %><br>

<% if admin %>
    <%= link_to 'New product', new_product_path, class: 'btn btn-sm btn-default' %>
<% end %>

<%= link_to 'Show all', all_products_path, class: 'btn btn-sm btn-default', data: {no_turbolink: 'true'}%><br>
